<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <nav>
        <ul class="d-flex justify-content-start">
          <li class="ml-35">navegacion</li>
          <li class="ml-35">navegacion</li>
          <li class="ml-35">navegacion</li>
        </ul>
      </nav>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
</p>
